{{> privateNavbar}}

<h1>{{username}}'s Dashboard</h1>

<ul class="d-flex flex-wrap justify-content-between p-5">
{{#each formattedUserBlogPosts as |blogPost|}}
  {{> dashboardBlogPostCard}}
{{/each}}
</ul>