{{> privateNavbar}}

<h1>{{username}}'s Dashboard</h1>

<ul class="d-flex flex-wrap justify-content-between p-5">
{{#each formattedBlogPosts as |blogPost|}}
  <div class="card">
  <div class="card-header">
    USERNAME HERE
  </div>
  <div class="card-body">
    <h5 class="card-title">{{blogPost.title}}</h5>
    <p class="card-text">{{blogPost.description}}</p>
  </div>
  </div>
{{/each}}
</ul>