{{> privateNavbar}}

<div
  class="newPost position-absolute top-50 start-50 translate-middle text-center w-50"
>
  <form class="editBlogPost">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="updatedPostTitle"
        value="{{title}}"
      />
      <label for="updatedPostTitle">Post Title</label>
    </div>
    <div class="form-floating">
      <textarea
        class="form-control"
        id="updatedPostDescription"
        style="height: 200px"
      >{{description}}</textarea>
      <label for="updatedPostDescription">Post Description</label>
    </div>
    <div class="col-auto mt-4">
      <button type="button" class="btn btn-primary mb-3 w-25 update-btn" id="{{id}}">Post</button>
    </div>
  </form>
</div>

<div class="toast position-absolute top-75 start-50 translate-middle" role="alert" aria-live="assertive" aria-atomic="true" id="editPostToast">
  <div class="toast-header">
    <strong class="me-auto">Failed to update post!</strong>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    Please check the inputted content.
  </div>
</div>