{{> privateNavbar}}

<div class="d-flex flex-wrap justify-content-evenly p-5">
<div class="card w-50">
  <div class="card-header">
    Posted by {{formattedBlogPost.user.username}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{formattedBlogPost.title}}</h5>
    <p class="card-text">{{formattedBlogPost.description}}</p>
    <small>Created {{formatDate formattedBlogPost.createdAt}}</small>
    <div class="comments pt-4">
      <h6>Comments:</h6>
      {{#each formattedComments as |comment|}}
      {{> comments}}
      {{/each}}
    </div>
  </div>
</div>
</div>