{{#if isLoggedIn}}
{{> privateNavbar}}
{{else}}
{{> publicNavbar}}
{{/if}}

<div class="text-center mt-5">
<h1 class="homepageText">Welcome to the Tech Blog!</h1>
<h2 class="homepageDesc">See the most recent posts below!</h2>
</div>
<div>
<ul class="d-flex flex-wrap justify-content-evenly p-5">
{{#each formattedAllBlogPosts as |blogPost|}}
  {{> homepageBlogPostCard}}
{{/each}}
</ul>
</div>