{{#if isLoggedIn}}
{{> privateNavbar}}
{{else}}
{{> publicNavbar}}
{{/if}}

<div class="text-center mt-5">
<h1 class="homepageText">Welcome to the Tech Blog!</h1>
<h2 class="homepageDesc">See the most recent posts below!</h2>
</div>
<div>
<ul class="d-flex flex-wrap justify-content-evenly p-5">
{{#each formattedAllBlogPosts as |blogPost|}}
  {{> homepageBlogPostCard}}
{{/each}}
</ul>
</div>

<div class="toast position-absolute top-75 start-50 translate-middle" role="alert" aria-live="assertive" aria-atomic="true" id="viewPostToast">
  <div class="toast-header">
    <strong class="me-auto">Failed to view post!</strong>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    Please try again.
  </div>
</div>