{{#if isLoggedIn}}
{{> privateNavbar}}
{{else}}
{{> publicNavbar}}
{{/if}}

<h1>HOME</h1>

<ul class="d-flex flex-wrap justify-content-between p-5">
{{#each formattedAllBlogPosts as |blogPost|}}
  {{> homepageBlogPostCard}}
{{/each}}
</ul>