<div
  class="loginForm position-absolute top-50 start-50 translate-middle text-center w-25"
>
  <form id="loginForm">
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="name@example.com"
      />
      <label for="email">Email address</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
      />
      <label for="password">Password</label>
    </div>
    <div class="col-auto mt-4">
      <button type="submit" class="btn btn-primary mb-3 w-50">Login</button>
    </div>
  </form>
</div>