{{> privateNavbar}}

<div
  class="newPost position-absolute top-50 start-50 translate-middle text-center w-50"
>
  <form id="newPostForm">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="postTitle"
        placeholder="Post Title"
      />
      <label for="postTitle">Post Title</label>
    </div>
    <div class="form-floating">
      <textarea
        class="form-control"
        placeholder="Post Description"
        id="postDescription"
        style="height: 200px"
      ></textarea>
      <label for="postDescription">Post Description</label>
    </div>
    <div class="col-auto mt-4">
      <button type="submit" class="btn btn-primary mb-3 w-25">Post</button>
    </div>
  </form>
</div>

<div class="toast position-absolute top-75 start-50 translate-middle" role="alert" aria-live="assertive" aria-atomic="true" id="newPostToast">
  <div class="toast-header">
    <strong class="me-auto">Failed to create post!</strong>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    Please check the inputted content.
  </div>
</div>