body {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(234, 249, 249, 0.67) 0.1%,
    rgba(239, 249, 251, 0.63) 90.1%
  );
  font-family: "Libre Baskerville", serif;
}

.privateNav,
.publicNav {
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
}

#navItem,
#logoutButton {
  color: white;
}

.homepageText {
  font-family: "Bebas Neue", cursive;
  font-size: 6rem;
}

.homepageDesc {
  font-family: "Bebas Neue", cursive;
  font-size: 3rem;
}

.homepageCard {
  border-radius: 15px;
}
